@font-face {
  font-family: centurygothic_regular;
  src: url(fonts/Century_gothic_regular.woff);
  src: url(fonts/Century_gothic_regular.woff2);
}
@font-face {
  font-family: centurygothic_bold;
  src: url(fonts/Century_gothic_bold.woff);
  src: url(fonts/Century_gothic_bold.woff2);
}
.content-header h1{
	font-family: centurygothic_regular !important;
	font-size: 22px !important;
	font-weight: 400 !important;
}
.left-right-val{
	margin-right: 3%;
	margin-left:3%;
}
.nav-item .nav-link{
	color: #fff !important;
}
.sidebar .nav-item .nav-link {
    color: #000 !important;
    font-size: 14px;
    font-family: centurygothic_regular !important;
}
.sidebar .nav-link{
	padding: 1rem 1rem !important;
}
[class*=sidebar-dark-] {
    background-color: #fff !important;
}
.content-wrapper {
    background: #ECF0F5 !important;
}
.user-panel a{
	color: #fff !important;
}
.main-sidebar{

}
.small-box .inner h3{
	font-family: centurygothic_regular !important;
	font-weight: 400 !important;
	text-align: right;
	color: #fff !important;
	font-size: 52px !important;
}
.small-box{
	min-height: 335px !important;
	border-radius: 10px !important;
	padding: 20px;
	margin-right: 20px;
}
.small-box .inner{
	display: flex;
}
.small-box .icon{
	width: 50%;
}
.small-box .number-sec{
	width: 50%;
}
.text-secc h3{
	font-family: centurygothic_regular !important;
	font-weight: 400 !important;
	color: #fff !important;
	font-size: 28px !important;
	margin-top: 10px;
}
.button-sec{
	border: 2px solid #fff;
	border-radius: 4px;
	padding: 5px;
	width: 100%;
	text-align: center;
	margin-top: 20%;
}
.button-sec a{
	color: #fff;
	font-family: centurygothic_bold !important;
	font-size: 17px;
}
.icon img{
	width: 65px !important;
}
.icon-center img{
	width: 78px;
	margin: 0 auto;
}
.icon-center{
	width: 65px;
	margin: 0 auto;
}
.icon-center img{
	width: 65px !important;
}
.tex-s{
	font-family: centurygothic_regular !important;
	font-weight: 400 !important;
	color: #fff !important;
	font-size: 28px !important;
	text-align: center;
}
.top-sec{
	margin-left: 3%;
}
.top-sec h2{
	font-family: centurygothic_regular !important;
	font-size: 48px !important;
}
.top-sec h4{
	font-family: centurygothic_regular !important;
	font-size: 17px !important;
	margin-top: 15px;
	margin-bottom: 20px;
}
.small-box .icon {
     display: block !important; 
}
.whatcyy{
	background: #F4E625 !important;
	color: #F4E625 !important;
	border-radius: 4px;
	color: #000 !important;
	font-family: centurygothic_bold !important;
	font-weight: 900 !important;
}
.formz{
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.savez{
	background: #067BC2 !important;
	color: #fff !important;
	font-family: centurygothic_bold !important;
	font-size: 14px !important;
	padding: 10px 20px;
	border: 0px;
	margin-left: 20px;
}
.cancelz{
	background: #ff0000 !important;
	color: #fff !important;
	font-family: centurygothic_bold !important;
	font-size: 14px !important;
	padding: 10px 20px;
	border: 0px;
}
.button-save{
	margin-top: 30px;
}
.edit img{
	width: 20px;
}
.del img{
	width: 20px;
	margin-left: 10px;
}
.product-list td{
	vertical-align: middle !important;
}
/*Register Page Starts*/
.register-page{
	margin: 0px !important;
}
.register-page .content-wrapper{
	background: #fff !important;
}
.register-page .container-fluid{
	padding: 0 !important;
}

.whole-divz{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
.left-s{
	width: 40%;
	background: url(dist/img/left-bg.jpg) no-repeat center center;
	background-size: cover;
	height: 100%;
	padding: 4.4% 0;
}
.right-s{
	width: 60%;
	position: relative;;
}
.right-inner{
	align-items: center;
	width: 50%;
	margin: 0 auto;
}
.head-secs h1{
	color: #fff;
	font-family: centurygothic_bold !important;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	position: relative;
	margin-bottom: 30px;
}
.head-secs h1:after{
	content: url(dist/img/arrow.png);
	position: absolute;
	width: 60px;
	height: 60px;
	right: 50px;
	top: 25px;
}
.reg-form .input-class{
	width: 100%;
	border:1px solid rgba(112, 112, 112, 0.47);
	height: 56px;
	border-radius: 0px !important;
	margin-bottom: 15px;
}
.input-class::placeholder{
	font-family: centurygothic_regular !important;
	color: #AEAEAE !important;
}
.input-class:focus{
	outline: none !important;
	border-color: rgba(112, 112, 112, 0.47) !important;
	box-shadow: none !important;
}
.submitz{
	background: #F4E625 !important;
	width: 100%;
	border-radius: 4px;
	border:none !important;
	height: 58px;
	margin-top: 25px;
	font-family: centurygothic_bold !important;
	color: #000 !important;
}

.copy p{
	text-align: center;
	font-family: centurygothic_regular !important;
	color: #000;
}
.copy{
	position: absolute;
    left: 0;
    right: 0;
    bottom: -40%;
}
.lo-sec{
	margin-bottom: 30px;
}
/*Register Page Ends*/

/*Login Page Starts*/
input[type="checkbox"] {
  -webkit-appearance: checkbox;
     -moz-appearance: checkbox;
          appearance: checkbox;
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-top: 20px;
}
.labelz{
	position: relative;
	top: -8px;
	font-family: centurygothic_regular !important;
	color: #000;
	font-size: 18px !important;
	padding-left: 10px;
}
.top-v{
	padding-top: 10%;
}
.reg-form h6{
	font-family: centurygothic_regular !important;
	color: #000;
	font-size: 18px !important;
	text-align: center;
	margin-top: 30px;
}
.reg-form h6 span{
	color: #067BC2 !important;
	font-size: 18px !important;
	text-decoration: underline;
}
.log-page .copy{
	bottom: -50%;
}
/*Login Page Ends*/

/*Shop Details Start*/
.tabz{
	background: #fff;
	padding: 15px;
	border-radius: 15px;
}
.tabz .nav-link{
	color: #000 !important;
	font-family: centurygothic_regular !important;
}
.tabz .nav-item .active{
	color: #067BC2 !important;
}
.tabz .tab-content{
	margin-top: 30px;
}
.tabz .tab-content .showz{
	font-family: centurygothic_regular !important;
	font-weight: 600 !important;
	font-size: 14px !important;
}




.tabz .radio-button__input {
    opacity: 0;
    position: absolute;
}

.tabz .radio-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: inherit;
    color: #017b5f;
    border: 2px solid #666;
    border-radius: 24px;
}

.tabz .radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #067BC2;
    border-radius: 12px;
}

.tabz .radio-button__input:checked+.radio-button__control {
    border-color: #067BC2;
}

.tabz .radio-button__control {
  transform: scale(0.75);
}
.tabz .radio-button {
  cursor: pointer;
  padding-right: 10px;
}
.tabz input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.radio-button__label{
	font-family: centurygothic_regular !important;
	font-weight:400 !important;
	font-size: 12px; 
}
.le{
	margin-left: 20px;
}
.text-sectionz h5{
	font-family: centurygothic_regular !important;
	font-size: 14px;
	color: #000 !important;
	margin-top: 20px;
	font-weight: 600;
}
.textz{
	height: 100px;
	width: 100%;
	border:1px solid rgba(112, 112, 112, 0.47);
	padding: 15px;
}
.textz::placeholder{
	font-family: centurygothic_regular !important;
	font-size: 13px;
}
.button-area{
	width: 60%;
	margin: 0 auto;
}
.subz{
	background: #F4E625;
	border-radius: 4px;
	width: 100%;
	border:0px;
	padding: 10px 0px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-family: centurygothic_bold !important;
}
.second-tab h5{
	font-family: centurygothic_regular !important;
	color: #000 !important;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 20px;
}




.second-tab .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: centurygothic_regular !important;
}

/* Hide the browser's default checkbox */
.second-tab .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.second-tab .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #B6B6B6;
  border-radius: 7px;
}

/* On mouse-over, add a grey background color */
.second-tab .container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.second-tab .container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.second-tab .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.second-tab .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.second-tab .container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 7px;
  height: 12px;
  border: solid #48B153;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.inputz-text{
	width: 80%;
	border:1px solid rgba(112, 112, 112, 0.47);
}
.inputz-text::placeholder{
	font-family: centurygothic_regular !important;
	font-size: 13px;
	padding-left: 10px;
}
.checkz-se h5{
	font-size: 17px;
	font-family: centurygothic_regular !important;
	margin-bottom: 10px !important;
	margin-top: 30px;
	margin-bottom: 15px !important;
}
.checkz-se{
	padding-bottom: 10px;
	border-bottom:1px solid rgba(112, 112, 112, 0.47);
}
.extra-charge-sec h5{
	font-size: 17px !important;
    font-family: centurygothic_regular !important;
    padding-top: 20px;
}
.account-set p{
	margin-bottom: 0px !important;
	font-family: centurygothic_regular !important;
	font-size: 14px;
}
.account-set label{
	margin-bottom: .2px !important;
	margin-top: 20px;
}
.inpp{
	border:1px solid rgba(112, 112, 112, 0.47);
	width: 100% !important;
	height: 38px;
}
.inpp::placeholder{
	font-family: centurygothic_regular !important;
	font-size: 13px;
	padding-left: 10px;
}
.filez{
	padding: 3px;
}
.account-set span{
	color: #737373;
	font-size: 9px;
	line-height: 24px;
	font-family: centurygothic_regular !important;
}
/*Shop Details End*/

li.actives{
    background-color:#F4E625;
}





@media all and (max-width: 1700px) and (min-width: 1300px) {
.head-secs h1 {
font-size: 28px;
line-height: 36px;
margin-bottom: 30px;
}
.imgz{
width: 45%;
}
.copy {
bottom: -16%;
}
.left-s {
padding: 2% 0;
}
}


@media all and (max-width: 1700px) and (min-width: 1200px) {
.small-box .inner h3 {
    font-size: 35px !important;
}
.icon img {
    width: 50px !important;
}
.small-box {
    margin-right: 0px;
}
.tex-s {
    line-height: 32px;
}
.small-box {
    min-height: 300px !important;
}
}

@media all and (max-width: 1024px) and (min-width: 768px) {
	.left-s {
    width: 50%;
}
.head-secs h1 {
    font-size: 18px;
    line-height: 24px;
}
.head-secs h1:after {
    width: 40px;
    right: 50px;
    top: 0px;
}
.right-inner {
    width: 80%;
}
.copy {
    bottom: -25%;
}
}


@media all and (max-width: 767px) and (min-width: 320px) {
  .small-box .inner h3 {
    font-size: 21px !important;
}
.text-secc h3 {
    font-size: 18px !important;
    margin-top: 0px;
}
.small-box {
    min-height: 250px !important;
    border-radius: 10px !important;
    padding: 10px;
    margin-right: 0px;
}
.small-box .inner {
    display: block;
}
.small-box .icon {
    margin: 0 auto;
}
.small-box .number-sec {
   margin: 0 auto !important;
}
.tex-s {
    font-size: 18px !important;
    line-height: 22px;
}
.button-sec-one{
	margin-top: 20%;
}
.left-right-val {
    margin-right: 0%;
    margin-left: 0%;
}
/*Register*/
.head-secs h1 {
    font-size: 22px;
    line-height: 27px;
}
.whole-divz {
     display: block; 
}
.left-s {
    width: 100%;
}
.right-inner {
    width: 100%;
}
.right-s {
    width: 80%;
    margin: 0 auto;
}
.reg-form .input-class {
    height: 40px;
}
.submitz {
    margin-top: 5px;
}
.copy {
    bottom: -20%;
}
.lo-sec {
    margin-top: 30px;
}
.head-secs h1:after {
    top: 0px;
}
/*Register*/
}