@font-face {
  font-family: centurygothic_regular;
  src: url(../fonts/Century_gothic_regular.woff);
  src: url(../fonts/Century_gothic_regular.woff2);
}
@font-face {
  font-family: centurygothic_bold;
  src: url(../fonts/Century_gothic_bold.woff);
  src: url(../fonts/Century_gothic_bold.woff2);
}




.add-section{
	margin-bottom: 0.50rem;
}

.heading-section{
	background: #000;
	padding: 25px 0px;
}
#search {
   width: 296px !important;
   float: right;
}
#search label {
    position: absolute !important;
    right: 13px !important;
    top: 24px !important;
    left: inherit !important;
}
#search-input::placeholder{
	color: #A8A8A8 !important;
	font-family: centurygothic_regular !important;
	font-size: 16px !important;
}
.below-head .container{
	padding-top:20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.right-text h5{
	float: right;
}
.right-text span{
color: #EB2121 !important;
}
.below-head h5{
	font-family: centurygothic_bold !important;
	font-size: 18px !important;
}
.left-text span{
	color:#56B27B !important;
}
.inner-mod{
	padding: 15px;
}
.inner-mod p{
	font-family: centurygothic_regular !important;
	font-size: 16px !important;
	color: #000;
	line-height: 24px;
}
.product-price{
	font-family: centurygothic_bold !important;
	font-size: 20px !important;
	color: #000;
	line-height: 19px;
}
.btn-add-cart{
	background: #067BC2 !important;
	border-radius: 6px;
	border:none !important;
	margin-top: 30px;
}
.btn-add-cart span{
	font-family: centurygothic_regular !important;
	font-size: 14px !important;
}
.cart-icon img{
	width: 15px;
	position: relative;
	top: -2px;
}
.cart-icon{
	display: inline-block;
	margin-right: 10px;
}
.card-poduct{
	height: auto !important;
}
.card{
	height: auto !important;
}
.quantity-badge{
	background-color: #FF6C2F !important;
}
.float-btn{
	background-color:  #FF6C2F !important;
}
.modal-title{
	font-family: centurygothic_bold !important;
}
.sc-cart-heading{
	font-family: centurygothic_regular !important;
	margin-bottom: 10px;
}
h4.list-group-item-heading {
    font-size: 1rem;
    font-family: centurygothic_bold !important;
}
.sc-cart-remove {
	top: 20px;
}
.sc-cart-item-summary{
	font-family: centurygothic_regular !important;
}
.sc-cart-summary-subtotal{
	font-family: centurygothic_bold !important;
}
.sc-cart-clear{
	font-family: centurygothic_regular !important;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.switch-field input[type="radio"]:checked + label {
    background-color: #FF6C2F !important;
    color: #fff;
    border-radius: 6px !important;
}
.switch-field label {
    height: 50px !important;
    width: 140px !important;
    border: 1px solid #FF6C2F !important;
    background-color: #FF6C2F !important;
}
.switch-field span{
	color: #fff !important;
	font-family: centurygothic_regular !important;
}
#worder{
	background: #4AC959 !important;
	border:0px !important;
	font-family: centurygothic_regular !important;
}
.btn-modal-close{
	font-family: centurygothic_regular !important;
}
label{
	font-family: centurygothic_regular !important;
}
input::placeholder{
	font-family: centurygothic_regular !important;
}
footer p{
	text-align: left !important;
	color: #000 !important;
	font-family: centurygothic_regular !important;
}
main{
	margin-bottom: 70px !important;
}
footer{
	margin-bottom: 30px;
}





@media (min-width: 1920px){
.container {
    max-width: 1356px !important;
}
}