@media (min-width: 1920px) {
  .container {
    max-width: 1440px !important;
  }
}
@font-face {
  font-family: centurygothic_regular;
  src: url(fonts/Century_gothic_regular.woff);
  src: url(fonts/Century_gothic_regular.woff2);
}
@font-face {
  font-family: centurygothic_bold;
  src: url(fonts/Century_gothic_bold.woff);
  src: url(fonts/Century_gothic_bold.woff2);
}
body{
	background: #F8F8F8 !important;
}
html {
  scroll-behavior: smooth;
}
.navbar{
	padding: 30px 0px !important;
	background: #fff;
}
.headz .nav-link{
	padding-left: 2rem !important;
	padding-right: 2rem !important;
	font-family: centurygothic_regular !important;
	font-size: 16px !important;
	color: #000 !important;
}
.nav-link:hover{
	color: #067BC2 !important;
}
.borderz{
	border:1px solid #707070;
}
.borderz:hover{
	border:1px solid #067BC2;
	color: #fff !important;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #067BC2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*Banner Section Starts*/
.banner-section{
	background: #fff;
	padding-bottom: 100px;
}
.heading-sec .row{
	align-items: center;
}
.heading-sec{
	width: 80%;
}
.heading-sec h1{
  font-family: centurygothic_bold;
  color: #000;
  font-size: 59px;
}
.flexz{
	display: flex;
	align-items: center;
}
.buttonzz{
   margin-top: 50px;
}
.butt{
	padding: 11px 20px;
	background: #F4E625;
	color: #000000;
	text-align: center;
	font-family: centurygothic_bold;
	font-size: 16px;
}
.butt:hover{
	color: #F4E625 !important;
	text-decoration: none !important;
}
.hvr-sweep-to-right-yellow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right-yellow:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right-yellow:hover, .hvr-sweep-to-right-yellow:focus, .hvr-sweep-to-right-yellow:active {
  color: white;
}
.hvr-sweep-to-right-yellow:hover:before, .hvr-sweep-to-right-yellow:focus:before, .hvr-sweep-to-right-yellow:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.slantz {
    height: 400px;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 100%);
}
/*Banner Section Ends*/
/*App Works Start*/
.app-work{
	box-shadow: 4px 10px 33px #00000029;
	background: #067BC2;
	padding: 50px 0px;
	min-height: 382px;
}
.inz{
	position: relative;
}
.inz .container{
	position: absolute;
    left: 0;
    right: 0;
    top: -35px;
}
.app-work h3{
	text-align: center;
	font-family: centurygothic_bold;
	color: #fff;
	font-size: 36px;
	line-height: 44px;
}
.inner-se{
	width: 70%;
	margin: 40px auto 0px auto;
}
.inner-se h5{
	color: #fff;
	text-align: center;
	font-family: centurygothic_regular !important;
	font-size: 22px;
	line-height: 24px;
	margin-top: 35px;
}
.sec-el{
	position: relative;
}
.sec-el:before {
    position: absolute;
    content: '';
    width: 180px;
    border: 1px dashed #fff;
    left: -95px;
    top: 30%;
}
.sec-el:after {
    position: absolute;
    content: '';
    width: 180px;
    border: 1px dashed #fff;
    right: -95px;
    top: 30%;
}
/*App Works Ends*/
/*Benefits Section Starts*/
.benefits-section{
	padding: 80px 0px;
}
.benefits-section .row{
	align-items: center;
}
.benefits-section .rightz{
	padding-left: 10%;
}
.benefits-section h3{
	font-family: centurygothic_bold;
    color: #000000;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 50px;
}
.inner-para{
	margin-left: 40px;
	margin-bottom: 50px;
}
.inner-para p{
	font-family: centurygothic_regular !important;
	font-size: 20px;
	line-height: 34px;
	position: relative;
}
.onez p:before {
    position: absolute;
    content: url(images/whatsapp.png);
    width: 32px;
    height: 32px;
    left: -40px;
}
.twoz p:before {
    position: absolute;
    content: url(images/whatsapp.png);
    width: 32px;
    height: 32px;
    left: -40px;
}
.thirdz p:before {
    position: absolute;
    content: url(images/whatsapp.png);
    width: 32px;
    height: 32px;
    left: -40px;
}
.fourthz p:before {
    position: absolute;
    content: url(images/whatsapp.png);
    width: 32px;
    height: 32px;
    left: -40px;
}
/*Benefits Section Ends*/
/*Business Section Starts*/
.business-inz{
	box-shadow: 4px 10px 33px #00000029;
	padding: 50px;
	background: #fff;
	position: relative;
}
.business-inz h4{
	font-family: centurygothic_bold;
    color: #000000;
    text-align: center;
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 80px;
}
.business-section .hiz{
	min-height: 85px;
}
.business-section h5{
	margin-top: 50px;
	font-family: centurygothic_bold;
    color: #000000;
    font-size: 22px;
    line-height: 34px;
}
.business-section p {
    width: 93%;
    font-family: centurygothic_regular !important;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}
/*Business Section Ends*/
/*Yellow Section Starts*/
.yellow-section {
    background: url(images/yellow-bg.jpg) no-repeat;
    background-size: cover;
    padding-top: 10%;
    margin-top: -6%;
    padding-bottom: 50px;
}
.inoz{
	padding-left: 10%;
	padding-top: 5%;
}
.inoz-in{
	width: 60%;
}
.inoz h3{
	font-family: centurygothic_bold;
	font-size: 58px;
	line-height: 62px;
	color: #000000;
}
.inoz p{
	font-family: centurygothic_regular !important;
	color: #000;
	font-size: 20px;
	line-height: 32px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.inner-tree h6{
	font-family: centurygothic_bold;
	font-size: 22px;
	line-height: 34px;
	color: #000000;
}
.inner-tree p{
	font-family: centurygothic_regular;
	font-size: 18px;
	line-height: 28px;
	color: #000000;
	margin-top: 20px !important;
}

/*Yellow Section Ends*/


/*Plan Section Starts*/
.plan-section{
	background: #067BC2;
	padding: 150px 0px;
	margin-top: -100px;
}
.plan-section h2 {
    text-align: center;
    font-family: centurygothic_bold;
    font-size: 58px;
    line-height: 72px;
    color: #fff;
    width: 40%;
    margin: 0 auto;
}
.plan-section p {
    text-align: center;
    font-family: centurygothic_regular;
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    width: 50%;
    margin: 40px auto 100px auto;
}
.box h3{
	font-family: centurygothic_bold;
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    text-align: center;
}
.box .in-box {
    font-family: centurygothic_regular;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-align: center;
    width: 90% !important;
    margin: 20px auto 30px auto !important;
}
.box h4{
	font-family: centurygothic_regular;
    font-size: 64px;
    line-height: 70px;
    color: #fff;
    text-align: center;
}
.box h4 span{
	font-family: centurygothic_bold;
    font-size: 25px;
    line-height: 36px;
    color: #fff;
    text-align: center;
}
.white-button {
    border-radius: 24px;
    padding: 15px 35px;
    background: #fff;
    color: #000;
    font-family: centurygothic_bold;
    font-size: 22px;
    line-height: 27px;
    width: 50%;
    margin: 35px auto 35px auto;
    text-align: center;
}
.white-button a{
	color: #000 !important;
	font-family: centurygothic_bold;
	text-decoration: none;
	font-size: 22px;
	line-height: 27px;
}
.list-style li{
	color: #fff !important;
	font-family: centurygothic_regular;
	font-size: 20px;
	line-height: 36px;
	list-style-type: none !important;
	position: relative;
	padding-left: 20px;
}
.list-style li:before{
	position: absolute;
	content: url(images/tick.png);
	left: -20px;
}
.list-style ul{
	margin-left: 10%;
}
.whitez {
    background: #fff !important;
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.whitez h3{
	color: #000 !important;
}
.whitez .in-box{
	color: #000 !important;
}
.whitez h4{
	color: #000 !important;
}
.whitez h4 span{
	color: #000 !important;
}
.whitez .white-button{
	background: #F4E625 !important;
}
.whitez .list-style li{
	color: #000 !important;
}
.whitez .list-style li:before{
	position: absolute;
	content: url(images/check.png) !important;
	left: -20px;
}
/*Plan Section Ends*/
/*Testimonials Starts*/
.testimonial-section{
	padding: 100px 0px;
	background: #fff;
}
.testimonial-section h2{
	color: #000;
	font-family: centurygothic_bold;
	font-size: 58px;
	line-height: 62px;
	text-align: center;
	padding-bottom: 50px;
}
.inz-bo{
	
}
.inner-box{
	min-height: 356px;
	background: #D9F1FF;
	box-shadow: 1px 6px 10px #00000029;
	position: relative;
    width: 80%;
    margin: -60px auto 0 auto;
}
.photz {
    width: 140px;
    margin: 0 auto;
    position: relative;
    z-index: 9999;
}
.text-sz {
    position: absolute;
    bottom: 40px;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.text-sz h4{
	font-family: centurygothic_bold;
	font-size: 20px;
	line-height: 33px;
}
.text-sz span{
	font-family: centurygothic_regular;
}
.text-sz p{
	font-family: centurygothic_regular;
	font-size: 16px;
	line-height: 27px;
}
.iz{
	min-height: 356px;
	background: #D9F1FF;
	box-shadow: 1px 6px 10px #00000029;
    width: 80%;
    margin: -60px auto 0 auto;
}
.testimonial-section .slick-slide:focus{
	outline: none !important;
}
.testimonial-section .slick-dots li button:before {
	font-size: 40px !important;
}
.testimonial-section .slick-dots {
	bottom: -50px !important;
}
.testimonial-section .container{
	position: relative;
}
.testimonial-section .container{
	position: relative;
}
.testimonial-section .prev1{
	position: absolute;
	left: 0;
	top: 60%;
	border:none !important;
	background: transparent;
}
.testimonial-section .next1{
	position: absolute;
	right: 0;
	top: 60%;
	border:none !important;
	background: transparent;
}
.slick-arrow:focus{
	outline: none !important;
}
/*Testimonials Ends*/
/*FAQ Starts*/
.faq{
	padding: 80px 0px;
	background: #fff;
}
.faq h3{
	color: #000;
	font-family: centurygothic_bold;
	font-size: 58px;
	line-height: 62px;
	text-align: center;
	padding-bottom: 20px;
}
.faq .card-header{
	background-color: #fff !important;
	padding-left: 0px !important;
}
.faq .btn-link{
	font-family: centurygothic_bold;
	font-style: italic;
	color: #000 !important;
	line-height: 22px;
	text-align: left;
	padding-left: 0px !important;
}
.faq .btn-link:hover{
	text-decoration: none !important;
}
.faq .btn-link:focus{
	text-decoration: none !important;
}
.faq .card-body p{
	font-family: centurygothic_regular;
	font-size: 16px;
	line-height: 26px;
	color: #000 !important;
}
.btn-link:focus{
	outline: none !important;
	border:none !important;
	box-shadow: none !important;
}
.faq .card{
	border-left: none !important;
	border-right: none !important;
	border-top:none !important;
	border-bottom: 1px solid #ccc !important;
}
/*FAQ Ends*/
/*Footer Section Starts*/
.footer-section{
	background: #067BC2;
	padding: 50px 0px 0px 0px;
}
.footer-section .logoz p{
	color: #fff;
	font-family: centurygothic_regular;
	font-size: 16px;
	line-height: 23px;
	margin-top: 30px;
	width: 75%;
}
.footer-section h4{
	font-family: centurygothic_bold;
	font-size: 20px;
	line-height: 23px;
	color: #fff;
	margin-bottom: 20px;
}
.footer-section .linksz ul{
	padding-left: 0;
}
.footer-section .links li{
    list-style-type: none !important;
}
.footer-section .linksz li a{
	color: #fff;
	font-family: centurygothic_regular;
	font-size: 14px;
	line-height: 30px;
	 list-style-type: none !important;
}
.footer-section .socialz li{
	float: left;
	padding-left: 20px;
}
.footer-section .socialz li:first-child{
	padding-left: 0px;
}
/*Footer Section Ends*/
.slider-sec{
	padding: 100px 0px 0px 0px;
}
.slider-sec h2{
	font-family: centurygothic_bold;
	font-size: 58px;
	line-height: 62px;
	color: #000;
	text-align: center;
	margin-bottom: 50px;
}

.slider-sec .slick-slider img{
	width: 50%;
}
.slider-sec .slick-current img{
	width: 80% !important;
}
.slider-sec .slick-slide:focus{
	outline: none !important;
}
.slider-sec .slick-dots li button:before{
	font-size: 60px !important;
	color: #fff;
    opacity: 0.7;
}
.slider-sec .slick-dots{
	bottom: -50px !important;
}
.slider-sec .slick-dots li.slick-active button::before {
    color: #fff;
    opacity: 1;
 }
.footer-bottom p{
	color: #fff;
	font-family: centurygothic_regular;
	font-size: 14px;
	line-height: 23px;
	padding-bottom: 50px;
	margin-top: 30px;
	margin-bottom: 0px !important;
}


@media all and (max-width: 1024px) and (min-width: 768px) {
  .navbar {
    padding: 10px 15px !important;
    background: #fff;
}
.navbar-dark .navbar-toggler {
    border-color: #067BC2;
    background: #067BC2;
    border-radius: 0px !important;
}
.hreading-sec{
	width: 100%;
}
.inner-se {
    width: 100%;
}
.heading-sec h1 {
    font-size: 32px;
    padding-top: 20px;
}
.buttonzz {
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-section {
    padding-bottom: 75px;
}
.app-work h3 {
    font-size: 30px;
    line-height: 32px;
}
.app-work {
    padding: 50px 0px;
    min-height: 330px;
}
.sec-el:before {
    position: absolute;
    content: '';
    width: 120px;
    border: 1px dashed #fff;
    left: -70px;
    top: 30%;
}
.sec-el:after {
    position: absolute;
    content: '';
    width: 120px;
    border: 1px dashed #fff;
    right: -70px;
    top: 30%;
}
.slantz {
    height: 350px;
}
.inner-se h5 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.benefits-section {
    padding: 0px 0px 40px 0px;
}
.benefits-section h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.benefits-section .rightz {
    padding-left: 0%;
}
.inner-para {
    margin-left: 40px;
    margin-bottom: 25px;
}
.inner-para p {
    font-size: 18px;
    line-height: 28px;
}
.business-inz {
    padding: 30px 20px;
}
.business-inz h4 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 35px;
}
.business-section h5 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 34px;
}
.inoz h3 {
    font-size: 35px;
    line-height: 40px;
}
.inoz {
    padding-left: 0%;
    padding-top: 5%;
}
.inoz p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-tree p {
    margin-top: 0px !important;
}
.inoz-in {
    width: 100%;
}
.yellow-section {
    padding-top: 15%;
    margin-top: -6%;
    padding-bottom: 30px;
}
.plan-section {
    padding: 100px 0px;
}
.plan-section h2 {
    font-size: 35px;
    line-height: 40px;
    color: #fff;
     width: 100%; 
}
.plan-section p {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin: 30px auto 50px auto;
}
.white-button {
    font-size: 20px;
    line-height: 27px;
    width: 80%;
    margin: 20px auto 20px auto;
    text-align: center;
}
.white-button a {
    font-size: 18px;
    line-height: 22px;
}
.list-style li {
    font-size: 16px;
    line-height: 30px;
    padding-left: 5px;
}
.whitez {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.list-style ul {
    margin-left: 0%;
}
.box h3 {
    margin-top: 0px;
}
.box .in-box {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
     width: 100% !important; 
    margin: 0px auto 30px auto !important;
}
.testimonial-section {
    padding: 30px 0px;
}
.testimonial-section h2 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 15px;
}
.inner-box {
     width: 100%; 
    margin: -50px auto 0 auto;
}
.photz {
    width: 100px;
}
.faq {
    padding: 30px 0px;
}
.faq h3 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 0px;
}
.footer-section {
    padding: 30px 0px;
}
.footer-section .logoz p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
     width: 100%; 
    margin-bottom: 25px;
}
.footer-section h4 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}
.spe-white{
	background: #fff;
	margin-top: -30px;
}
.slider-sec {
    padding: 30px 0px 0px 0px;
}
.slider-sec h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}
.slider-sec .slick-dots {
    bottom: -20px !important;
}
}


















@media all and (max-width: 767px) and (min-width: 320px) {
.slider-sec {
    padding: 30px 0px 0px 0px;
}
.slider-sec h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
}
  .navbar {
    padding: 10px 15px !important;
    background: #fff;
}
.navbar-dark .navbar-toggler {
    border-color: #067BC2;
    background: #067BC2;
    border-radius: 0px !important;
}
.heading-sec h1 {
    font-size: 32px;
    padding-top: 20px;
}
.buttonzz {
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-section {
    padding-bottom: 75px;
}
.app-work h3 {
    font-size: 30px;
    line-height: 32px;
}
.app-work {
    padding: 35px 0px;
}
.sec-el:before{
	display: none;
}
.sec-el:after {
	display: none;
}
.slantz {
    height: 600px;
}
.inner-se h5 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.benefits-section {
    padding: 130px 0px 40px 0px;
}
.benefits-section h3 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
}
.benefits-section .rightz {
    padding-left: 0%;
}
.inner-para {
    margin-left: 40px;
    margin-bottom: 25px;
}
.inner-para p {
    font-size: 18px;
    line-height: 28px;
}
.business-inz {
    padding: 30px 20px;
}
.business-inz h4 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 35px;
}
.business-section h5 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 34px;
}
.inoz h3 {
    font-size: 35px;
    line-height: 40px;
}
.inoz {
    padding-left: 0%;
    padding-top: 5%;
}
.inoz p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inner-tree p {
    margin-top: 0px !important;
}
.inoz-in {
    width: 100%;
}
.yellow-section {
    padding-top: 15%;
    margin-top: -6%;
    padding-bottom: 30px;
}
.plan-section {
    padding: 100px 0px;
}
.plan-section h2 {
    font-size: 35px;
    line-height: 40px;
    color: #fff;
     width: 100%; 
}
.plan-section p {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    margin: 30px auto 30px auto;
}
.white-button {
    font-size: 20px;
    line-height: 27px;
    width: 80%;
    margin: 20px auto 20px auto;
    text-align: center;
}
.list-style li {
    font-size: 18px;
    line-height: 36px;
    padding-left: 5px;
}
.whitez {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.list-style ul {
    margin-left: 5%;
}
.box h3 {
    margin-top: 0px;
}
.box .in-box {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
     width: 100% !important; 
    margin: 0px auto 30px auto !important;
}
.testimonial-section {
    padding: 30px 0px;
}
.testimonial-section h2 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 15px;
}
.inner-box {
     width: 100%; 
    margin: -50px auto 0 auto;
}
.photz {
    width: 100px;
}
.faq {
    padding: 30px 0px;
}
.faq h3 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 0px;
}
.footer-section {
    padding: 30px 0px;
}
.footer-section .logoz p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 20px;
     width: 100%; 
    margin-bottom: 25px;
}
.footer-section h4 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 10px;
}
.slider-sec .slick-dots {
    bottom: -20px !important;
}
}


